@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;700;800&family=Roboto+Mono:wght@300;400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	h1 {
		@apply text-4xl font-bold;
	}
	h2 {
		@apply text-3xl font-bold;
	}
	h3 {
		@apply text-2xl font-bold;
	}
	p {
		@apply text-2xl font-normal;
	}
	small {
		@apply text-lg font-light;
	}
}

body {
	margin: 0;
	padding: 0;
	font-family: Roboto Condensed, Lato, Arial, sans-serif !important;
}

.navbar-item {
	color: hsla(0, 0%, 100%, 0.5);
	font-size: 22px;
	font-weight: 700;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
}

.navbar-dropdown {
	background-image: linear-gradient(-180deg, #0e0c16, #0e0c16 88%, #0e0c16 99%);
	box-shadow: 0 0 50px 80px #0e0c16;
}

.timeline {
	background-color: #5918df;
	height: 400%;
	left: -10px;
	position: absolute;
	top: 25px;
	width: 1px;
	z-index: 9;
}

.timeline.alt {
	height: 1200%;
}

.bullet,
.bullet:before {
	position: absolute;
}

.bullet:before {
	background-color: #1b191e;
	border: 2px solid #5918df;
	border-radius: 50%;
	content: '';
	height: 9px;
	left: -4px;
	top: 0;
	width: 9px;
	z-index: 10;
}

.section-container {
	flex: 0 0 75%;
	max-width: 75%;
	position: relative;

	@media (min-width: 769px) {
		flex: 0 0 58.333333%;
		max-width: 58.333333%;
	}
}

#work::before {
	color: #221d35;
	content: 'WEB';
	font-family: Roboto Mono, Courier New, Courier, monospace !important;
	font-size: 270px;
	font-weight: 700;
	right: -1rem;
	top: -5rem;
	position: absolute;
}

@media (max-width: 768px) {
	#work::before {
		font-size: 100px;
		top: 4rem;
		right: 0;
	}
}

.newline {
	display: none;
}

@media (max-width: 410px) {
	.newline {
		display: block;
	}
}

.row {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	margin-left: -15px;
	margin-right: -15px;
}

#work {
	background-color: #0f0d15;
	background-image: linear-gradient(-180deg, #1a1527, #0e0c16 88%, #0e0c16 99%);
	background-repeat: repeat-x;
	min-height: 800px;
}

.parallax-effect {
	transform-style: preserve-3d;
}

.inner-element {
	transform: translateZ(60px);
}

.plate-container {
	flex: 0 0 41.666667%;
	max-width: 41.666667%;
}

.sotby-container {
	flex: 0 0 33.333333%;
	max-width: 33.333333%;
}

.wayfinder-container {
	flex: 0 0 25%;
	max-width: 25%;
}

.plate {
	width: 455px;
	height: 224px;
}

.wayfinder {
	width: 224px;
	height: 455px;
}

.sotby {
	width: 455px;
	height: 224px;
}

@media (max-width: 1035px) {
	.row {
		flex-direction: column;
		align-items: center;
	}

	#work {
		min-height: 1250px;
	}

	.plate-container {
		flex: 0 0 83.333333%;
		max-width: 83.333333%;
		margin-top: 2rem;
		margin-bottom: 2rem;
	}

	.sotby-container {
		flex: 0 0 83.333333%;
		max-width: 83.333333%;
		margin-top: 2rem;
		margin-bottom: 2rem;
	}

	.wayfinder-container {
		flex: 0 0 83.333333%;
		max-width: 83.333333%;
		margin-top: 2rem;
		margin-bottom: 2rem;
	}

	.wayfinder {
		left: -117px;
	}
}

@media (min-width: 1035px) {
	.plate {
		margin-top: 0px;
		margin-left: 130px;
	}

	.wayfinder {
		margin-top: 130px;
		margin-left: 40px;
	}

	.sotby {
		margin-top: 280px;
		margin-left: -160px;
	}
}

@media (max-width: 768px) {
	.plate {
		width: 200px;
		height: 99px;
	}

	.sotby {
		width: 200px;
		height: 99px;
	}

	.wayfinder {
		width: 200px;
		height: 407px;
		left: 0px;
	}

	#work {
		min-height: 950px;
	}
}

#about {
	background-color: #14121c;
	height: auto;
	overflow: hidden;
	position: relative;
}

#about .code::after {
	color: #3b3553;
	content: attr(data-line-nr);
	font-family: Roboto Mono, Courier New, Courier, monospace !important;
	font-size: 16px;
	left: -60px;
	line-height: 1.6;
	position: absolute;
	top: 0;
	z-index: 3;
}

#about .code:hover::before {
	background-color: #231d28;
	content: '';
	height: 100%;
	left: -100%;
	position: absolute;
	top: 0;
	width: 300%;
	z-index: -2;
}

.code {
	position: relative;
	z-index: 1;
}

.methods {
	color: #5918df;
	display: inline;
}

.propname {
	color: #eeff31;
}

.dot {
	color: #3b3553;
	display: inline;
}

.comment {
	color: #78707e;
	display: inline;
}

.scope {
	color: #e3244c;
	display: inline;
}

.prop2 {
	color: #24e394;
}

.string {
	color: #24e33a;
}

.number {
	color: #e39d24;
}

.key {
	color: #ff00ff;
}
