@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700;800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	line-height: 1.5;
	/* background-color: #1a1527; */
	font-family: Roboto Condensed, Lato, Arial, sans-serif !important;
}

.navbar-item {
	color: hsla(0, 0%, 100%, 0.5);
	font-size: 22px;
	font-weight: 700;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
}

.navbar-dropdown {
	background-image: linear-gradient(-180deg, #0e0c16, #0e0c16 88%, #0e0c16 99%);
	box-shadow: 0 0 50px 80px #0e0c16;
}

.timeline {
	background-color: #5918df;
	height: 60vh;
	left: -10px;
	position: relative;
	/* top: 13px; */
	width: 1px;
	z-index: 20;
}

.timeline.alt {
	height: 5310%;
	top: 0;
}

.bullet,
.bullet:before {
	position: absolute;
}

.bullet:before {
	background-color: #1b191e;
	border: 2px solid #5918df;
	border-radius: 50%;
	content: '';
	height: 9px;
	left: -4px;
	top: 0;
	width: 9px;
	z-index: 20;
}

.block-reveal {
	align-items: center;
	display: flex;
	/* display: inline-block; */
	overflow: hidden;
	position: relative;
}

.block-reveal--active .block-reveal__block {
	animation: block-rev-block 0.8s;
	animation-timing-function: cubic-bezier(0.65, 0.05, 0.36, 1);
}

.white {
	background-color: #f9f9f9;
}

.block-reveal__block {
	background: #5918df;
	content: '';
	height: 100%;
	position: absolute;
	transform: translateX(calc(100% + 1px));
	width: 100%;
	will-change: transform;
	z-index: 1;
}

.block-reveal--active .block-reveal__text {
	animation: block-reveal-text 0s;
	animation-delay: 0.4s;
	animation-fill-mode: forwards;
	will-change: transform, opacity;
}
