@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 16px;
}

body {
  font-size: 24px;
  color: #f9f9f9;
  line-height: 1.5;
  text-align: left;
  margin: 0;
  padding: 0;
  font-family:
    "JetBrains Mono", "Roboto Condensed", Lato, Arial, sans-serif !important;
}

@layer base {
  h1 {
    @apply text-4xl font-bold;
  }
  h2 {
    @apply text-3xl font-bold;
  }
  h3 {
    @apply text-2xl font-bold;
  }
  h4 {
    @apply text-[#988e9f] text-[30px] font-bold leading-[1.2];
  }
  p {
    @apply text-2xl font-normal;
  }
  small {
    @apply text-lg font-light;
  }

  #blog p {
    @apply text-xl font-normal;
  }
}

@layer components {
  .navbar-link {
    @apply text-primaryGray text-nav font-bold px-2 hover:text-primary;
  }
  .navbar-link-suffix {
    @apply text-primaryDark ml-1;
  }
}

.text_nav_link {
  color: rgba(255, 255, 255, 0.5);
  font-size: 22px;
  font-weight: 700;
  line-height: 1.5;
}

.text_nav_link:hover {
  color: rgba(255, 255, 255, 0.75);
}

.text_nav_link.active {
  color: rgba(255, 255, 255, 1);
}

.text_timeline-title {
  color: rgb(152, 142, 159);
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
}

.text_start_main {
  font-size: 48px;
  font-weight: 700;
  line-height: 1.2;
}

.text_start_sub {
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.5;
  color: rgb(152, 142, 159);
}

.text_work_title {
  color: rgb(152, 142, 159);
  font-size: 30px;
  font-weight: 700;
  line-height: 1.2;
}

.text_work_project-title {
  color: rgb(249, 249, 249);
  font-size: 24px;
  font-weight: 700;
  line-height: 1.2;
}

.text_work_project-number {
  color: #988e9f;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2;
}

.text_about_code {
  font-size: 16px;
  font-weight: 400px;
  line-height: 1.6;
}

.text_contact-title {
  font-weight: 500;
  color: #f9f9f9;
  padding-top: 1rem;
  margin-top: 1rem;
  font-size: 1.25rem;
  line-height: 1.2;
}
@media screen and (max-width: 1024px) {
  .text_start_main {
    font-size: 38px;
  }
}

@media screen and (max-width: 768px) {
  .text_work_title {
    font-size: 20px;
  }
}

@media screen and (max-width: 640px) {
  .text_start_main {
    font-size: 30px;
  }
}
